<h1>IATF APQP / PPAP 日程一覧表</h1>


<div class="tab_wrap">
	<%= render "tab_header" %>
	<div class="panel_area">
    <div id="panel1" class="tab_panel">
      <% koumoku = APQP_PHASES[1] %>
      <%= render partial: "form9", locals: { products: @products, koumoku: koumoku, dropdownlist: @dropdownlist } %>
    </div>

    <div id="panel2" class="tab_panel">
      <% koumoku = APQP_PHASES[2] %>
      <%= render partial: "form9", locals: { products: @products, koumoku: koumoku, dropdownlist: @dropdownlist } %>
    </div>

    <div id="panel3" class="tab_panel">
      <% koumoku = APQP_PHASES[3] %>
      <%= render partial: "form9", locals: { products: @products, koumoku: koumoku, dropdownlist: @dropdownlist } %>
    </div>

    <div id="panel4" class="tab_panel">
      <% koumoku = APQP_PHASES[4] %>
      <%= render partial: "form9", locals: { products: @products, koumoku: koumoku, dropdownlist: @dropdownlist } %>
    </div>

    <div id="panel5" class="tab_panel">
      <% koumoku = APQP_PHASES[5] %>
      <%= render partial: "form9", locals: { products: @products, koumoku: koumoku, dropdownlist: @dropdownlist } %>
    </div>

    <div id="panel6" class="tab_panel">
      <% koumoku = APQP_PHASES[6] %>
      <%= render partial: "form9", locals: { products: @products, koumoku: koumoku, dropdownlist: @dropdownlist } %>
    </div>

    <div id="panel7" class="tab_panel">
      <% koumoku=["顧客要求事項検討会議事録_営業", "金型製造指示書_営業", "金型製作依頼票_金型設計", "進捗管理票_生産技術", "試作製造指示書_営業", "設計計画書_金型設計", "設計検証チェックリスト_金型設計", "設計変更会議議事録_金型設計", "妥当性確認記録_金型設計","初期流動検査記録", "レイアウト/歩留まり_営業", "DR構想検討会議議事録_生産技術", "DR会議議事録_金型設計"]%>
      <%= render partial: "form9", locals: { products: @products, koumoku:koumoku,dropdownlist:@dropdownlist } %>
		</div>




	</div>
</div>









      


















